<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180321095265-nac641d6ghue1qchks7e9fg8dcbkatgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180321095265-nac641d6ghue1qchks7e9fg8dcbkatgo</string>
	<key>API_KEY</key>
	<string>AIzaSyB7FcenGtdFCdhgRSPmYSkjiOVwq0EbjY0</string>
	<key>GCM_SENDER_ID</key>
	<string>180321095265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Fre-Jave</string>
	<key>PROJECT_ID</key>
	<string>fre-jave-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>fre-jave-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180321095265:ios:ea922d0a3753680532a420</string>
</dict>
</plist>